.footer-section-content{
  background-color: rgb(67,106,94);
  link-color: #ffff;

}

.frame a:not([class]) {
  color: white !important;
  text-decoration: none;
}

.frame a:not([class]):hover {
  text-decoration: underline; /* Unterstreicht das Element beim Hover */
}

