.navbar-mainnavigation {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Zentriere Inhalte vertikal */
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
  display: flex; /* Flexbox für den Nav-Item-Container */
  align-items: center; /* Zentriere Inhalte vertikal */
  justify-content: center; /* Zentriere Inhalte horizontal */
}

.nav-link {
  display: inline-block; /* Sicherstellen, dass es ein Inline-Block ist */
  line-height: normal; /* Standardmäßige Line-Height */
  padding: 10px 15px; /* Falls nötig: Abstand hinzufügen */
}



/* Hauptnavigation
//So mittig gefällt mir das Menü doch nicht :)
.navbar-mainnavigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
}


.nav-link-text {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size:20px;
}

 */