.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Inhalt beginnt oben */
  width: 300px; /* Feste Breite */
  height: 400px; /* Feste Höhe */
}

.sliderIMG {
  width: 300px !important; /* Bild nimmt die gesamte Breite der Card ein */
  height: 200px!important; /* Feste Höhe für das Bild */
  object-fit: cover; /* Bild füllt den Container aus, dabei bleibt das Seitenverhältnis erhalten */
  display: block;
  margin: 0 auto; /* Zentriert das Bild horizontal */
  background-color: #f4f4f4; /* Optional: Hintergrundfarbe für kleinere Bilder */
}

.description {
  text-align: center; /* Zentriert den Text */
  margin-top: 10px; /* Abstand zwischen Bild und Text */
}

.slide-text {
  text-align: center; /* Zentriert den Text */
  margin-top: 10px; /* Abstand zwischen Bild und zusätzlichem Text */
}
